body {
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
}

.btn-light {
    background-color: #ffffff;
    border: 2px solid #6c757d;
}

    .btn-light:hover {
        background-color: #e2e6ea;
    }
